@import "tailwindcss";
@theme {
    --color-primary: #4a90e2;
    --color-background: #fcfcfc;
    --color-background-alt: #f8f9fa;
    --color-background-hover: #e9ecef;
    --color-border: #d0d0d0;
}

@layer base {
    body {
        font-family: "Ubuntu", sans-serif;
        @apply min-h-screen bg-background;
    }

    nav ul li > a[aria-current="page"] {
        @apply bg-background-hover;
    }

    table tr {
        /*@apply hover:bg-background-hover;*/
        td {
            @apply p-2;
        }
    }
}

@layer components {
    .selectable {
        @apply cursor-pointer transition-colors hover:bg-background-hover;
    }

    .card {
        @apply bg-background-alt border border-border rounded-lg shadow-sm p-4;
    }
}
